<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>littlebox</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/ngToast/dist/ngToast.min.css">
    <link rel="stylesheet" type="text/css" href="personal.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css">
</head>

<body ng-app="appLittlebox">
    <toast></toast>
    <div class="container" ng-controller="appController">
        <h1>LittleBox</h1>
        <div class="panel panel-default">
            <div class="panel-body">
                <button class="btn btn-default" ng-click="levelUp()">Up</button>
                <button ngf-select="uploadFiles($files)" multiple class="btn btn-success">Upload Files</button>
                <button ng-click="deleteFiles()" class="btn btn-danger">Delete</button>
                <input type="text" ng-model="nameFolder">
                <button class="btn btn-primary" ng-click="newFolder()">Create folder</button>
            </div>
        </div>
        {{actualPath}}
        <div class="progress" ng-show="progress >= 0">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width:{{progress}}%" ng-bind="progress + '%'">
            </div>
        </div>
        <!-- table -->
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <th>
                                <input type="checkbox" ng-model="mainCheckbox" ng-change="mainCheckboxChanged()">
                            </th>
                            <th>Name</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="file in filesFromServer">
                                <td>
                                    <input type="checkbox" ng-model="file.checked" />
                                </td>
                                <td>
                                    <i class="fa" ng-class="{ 'fa-folder': file.IsDirectory, 'fa-file': !file.IsDirectory }">

                        <a ng-if="!file.IsDirectory" target='_blank' ng-click="download()" ng-href="{{file.Path}}">{{file.Name}}</a>
                        <a ng-if="file.IsDirectory" href ng-click="refreshFiles(file.Path)">{{file.Name}}</a>
                        </i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-breadcrumb/dist/angular-breadcrumb.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-shim.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/ngToast/dist/ngToast.min.js"></script>
    <script src="src/app.js"></script>
</body>

</html>
